# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref==3.2.5
certifi==2020.12.5
django==3.2
django-filter==2.4.0
djangorestframework==3.12.4
markdown==3.3.4
pip==21.0.1
python==3.8
pytz==2021.1
setuptools==52.0.0
wheel==0.36.2